h1, h2, h3 {
    text-align: center;
    font-family: 'Cinzel', serif;
    font-weight: 1000;
    color: red;
}


body {
    background-image: url('./images/Marble.jpg');
    background-size: cover;
    background-position: center;
    cursor: url('./images/cursor.png') 12 12, auto;
}

p {
    font-family: 'EB Garamond', serif;
    font-size: 18px;
    line-height: 1.6;
    color: #444; 
    margin: 0;
    padding: 0;
}

a {
    cursor: url('./images/pointer_click.png') 12 12, auto;
}
